# General
.env
.env.*
*.log
.DS_Store
config.json

# Node.js
node_modules/
.next/
out/
build/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Python / Django
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
.venv
venv/
env/
.pytest_cache/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.metadata/
.project
.settings/
.classpath

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
frontend/node_modules/
service-notification/node_modules/
backup/
